amazon-braket-default-simulator==1.29.0
amazon-braket-schemas==1.26.0
amazon-braket-sdk==1.101.0
annotated-types==0.7.0
antlr4-python3-runtime==4.13.2
anyio==4.10.0
appdirs==1.4.4
astunparse==1.6.3
attrs==25.3.0
autograd==1.8.0
autoray==0.7.2
backoff==2.2.1
backports.entry-points-selectable==1.3.0
boltons==25.0.0
boto3==1.40.19
botocore==1.40.19
cachetools==5.5.2
certifi==2025.8.3
charset-normalizer==3.4.3
cirq==1.6.1
cirq-aqt==1.6.1
cirq-core==1.6.1
cirq-google==1.6.1
cirq-ionq==1.6.1
cirq-pasqal==1.6.1
cirq-web==1.6.1
cloudpickle==2.2.1
contourpy==1.3.3
cycler==0.12.1
Cython==3.1.3
Deprecated==1.2.18
diastatic-malt==2.15.2
dill==0.4.0
duet==0.2.9
fonttools==4.59.2
gast==0.6.0
google-api-core==2.25.1
google-auth==2.40.3
googleapis-common-protos==1.70.0
grpc-interceptor==0.15.4
grpcio==1.74.0
grpcio-status==1.71.2
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
jmespath==1.0.1
kiwisolver==1.4.9
matplotlib==3.10.5
mpmath==1.3.0
msgpack==1.1.1
mypy_extensions==1.1.0
narwhals==2.2.0
nest-asyncio==1.6.0
networkx==3.5
numpy==2.3.2
openpulse==1.0.1
openqasm3==1.0.1
opt_einsum==3.4.0
oqpy==0.3.7
packaging==25.0
pandas==2.3.2
pennylane==0.42.3
pennylane_lightning==0.42.0
pillow==11.3.0
plotly==6.3.0
proto-plus==1.26.1
protobuf==5.29.5
psutil==7.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==2.11.7
pydantic_core==2.33.2
pyparsing==3.2.3
pyquil==4.16.2
python-dateutil==2.9.0.post0
python-rapidjson==1.21
pytz==2025.2
pyzmq==27.0.2
qcs-api-client-common==0.11.8
qcs-sdk-python==0.21.18
qiskit==2.1.2
qiskit-aer==0.17.1
# quantumgateway==0.1.0
quil==0.17.0
requests==2.32.5
rpcq==3.11.0
rsa==4.9.1
ruamel.yaml==0.18.15
ruamel.yaml.clib==0.2.12
rustworkx==0.17.1
s3transfer==0.13.1
scipy==1.16.1
scipy-openblas32==0.3.30.0.2
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
stevedore==5.5.0
sympy==1.14.0
termcolor==3.1.0
tomlkit==0.13.3
tqdm==4.67.1
typedunits==0.0.1.dev20250728235222
types-Deprecated==1.2.15.20250304
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
wrapt==1.17.3